<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <jmxConfigurator/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>
    <appender name="redis"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.base}${separator}redis${separator}redis.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}${separator}redis${separator}redis.%d{yyyy-MM-dd-HH}.log.zip
            </FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>
    <root>
        <level value="info"/>
        <appender-ref ref="stdout"/>
    </root>
    <logger name="com.javamaster.b2c.cloud.test" level="info">
        <appender-ref ref="redis"/>
    </logger>
</configuration>  