<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div class="footer" th:fragment="javamasterFooter">
    <div class="footerCont respond W clearfix">
        <div class="footerL">
            <span th:text="#{footer.copyright}">Copyright(C)1997-2018 中国南方航空股份有限公司 版权所有</span>
            <a href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action" target="_blank"
               th:text="#{footer.backup}">
                              粤ICP备05053330号
            </a>
        </div>
        <div class="footerR">
            <a href="http://www.test.javamaster.com/cn/about/" rel="nofollow" th:text="#{footer.about}">关于南航</a> ｜
            <a href="http://www.test.javamaster.com/cn/about/touzizheguanxiz/" rel="nofollow" th:text="#{footer.invest}">投资者关系</a> ｜
            <a href="http://www.test.javamaster.com/cn/tourguide/booking/orders/" rel="nofollow" th:text="#{footer.needknow}">预订须知</a> ｜
            <a href="http://www.test.javamaster.com/cn/tourguide/faq/flight/inquiry.shtml" rel="nofollow" th:text="#{footer.commonquestion}">常见问题</a> ｜
            <a href="http://www.test.javamaster.com/cn/contactus/" rel="nofollow" th:text="#{footer.contactus}">联系我们</a>｜
            <a href="http://www.test.javamaster.com/cn/jijin/" rel="nofollow" th:text="#{footer.foundation}">"十分"关爱基金会</a>
        </div>
    </div>
</div>
</body>
</html>