package {{packageName}}.controller;

import {{packageName}}.service.{{className}}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

/**
 * {{classComment}}
 *
 * @author {{author}}
 * @date {{createDate}}
 */
@RestController
@RequestMapping("{{classMapping}}")
public class {{className}}Controller {

    @Autowired
    private {{className}}Service {{serviceVariableName}}Service;

}
