package {{packageName}}.service.impl;

import {{packageName}}.service.{{className}}Service;
import org.springframework.stereotype.Service;

/**
 * @author {{author}}
 * @date {{createDate}}
 */
@Service
public class {{className}}ServiceImpl implements {{className}}Service {

}
