<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="dialect" value="mysql" />
    </properties>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <typeHandlers>
        <typeHandler jdbcType="LONGVARCHAR"
                     javaType="string"
                     handler="org.apache.ibatis.type.StringTypeHandler" />
        <typeHandler jdbcType="CLOB"
                     javaType="string"
                     handler="org.apache.ibatis.type.StringTypeHandler" />
    </typeHandlers>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>
            <property name="params" value="count=countSql"/>
            <property name="reasonable" value="true"/>
            <property name="supportMethodsArguments" value="true"/>
            <property name="returnPageInfo" value="check"/>
        </plugin>
    </plugins>
</configuration>
